<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="navbar">
    <header class="navbar">
        <a class="navbar-brand" th:href="@{/index}">
            <span class="gota">💧</span> ÁguaFácil
        </a>

        <ul class="navbar-menu">
            <li sec:authorize="hasRole('FUNCIONARIO')">
                <a th:href="@{/user}">Usuários</a>
            </li>
            <li sec:authorize="hasRole('FUNCIONARIO')">
                <a th:href="@{/client}">Clientes</a>
            </li>
            
            <li sec:authorize="hasRole('FUNCIONARIO')">
                <a th:href="@{/property}">Imóveis</a>
            </li>

            <li sec:authorize="hasAnyRole('LEITOR', 'FUNCIONARIO')">
                <a th:href="@{/reading}">Leituras</a>
            </li>

            <li sec:authorize="hasRole('FUNCIONARIO')">
                <a th:href="@{/bill}">Faturas</a>
            </li>
            
            <li sec:authorize="hasRole('FUNCIONARIO')">
                <a th:href="@{/tariff}">Tarifas</a>
            </li>
            
            <li sec:authorize="hasRole('FUNCIONARIO')">
                <a th:href="@{/service}">Serviços</a>
            </li>
        </ul>

        <div class="navbar-user">
            <span sec:authentication="principal.nome"></span>
            
            <form th:action="@{/logout}" method="post" style="margin: 0;">
                <button type="submit" class="btn-logout" style="border: none; outline: none; font-family: inherit;">
                    Sair
                </button>
            </form>
        </div>
    </header>
</nav>
</html>